<a href="https://colab.research.google.com/github/SuryARavichan/EDYODA-JSON-ASSIGNMENT/blob/main/JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a JSON file (employee.json) containing employee information of minimum 5 employees. Each employee information consists of Name, DOB, Height, City, State. Write a python program that reads this information from the JSON file and saves the information into a list of objects of Employee class. Finally print the list of the Employee objects.

In [11]:
{
    "employees": [
        {
            "name": "John Smith",
            "DOB": "01/01/1980",
            "height": "6ft",
            "city": "New York",
            "state": "NY"
        },
        {
            "name": "Jane Doe",
            "DOB": "02/01/1985",
            "height": "5ft 7in",
            "city": "Los Angeles",
            "state": "CA"
        },
        {
            "name": "Bob Johnson",
            "DOB": "03/01/1990",
            "height": "6ft 2in",
            "city": "Chicago",
            "state": "IL"
        },
        {
            "name": "Samantha Williams",
            "DOB": "04/01/1995",
            "height": "5ft 5in",
            "city": "Houston",
            "state": "TX"
        },
        {
            "name": "David Brown",
            "DOB": "05/01/2000",
            "height": "6ft 1in",
            "city": "Phoenix",
            "state": "AZ"
        }
    ]
}

{'employees': [{'name': 'John Smith',
   'DOB': '01/01/1980',
   'height': '6ft',
   'city': 'New York',
   'state': 'NY'},
  {'name': 'Jane Doe',
   'DOB': '02/01/1985',
   'height': '5ft 7in',
   'city': 'Los Angeles',
   'state': 'CA'},
  {'name': 'Bob Johnson',
   'DOB': '03/01/1990',
   'height': '6ft 2in',
   'city': 'Chicago',
   'state': 'IL'},
  {'name': 'Samantha Williams',
   'DOB': '04/01/1995',
   'height': '5ft 5in',
   'city': 'Houston',
   'state': 'TX'},
  {'name': 'David Brown',
   'DOB': '05/01/2000',
   'height': '6ft 1in',
   'city': 'Phoenix',
   'state': 'AZ'}]}

In [14]:
import json

class Employee:
    def __init__(self, name, dob, height, city, state):
        self.name = name
        self.dob = dob
        self.height = height
        self.city = city
        self.state = state

with open('employees.json') as file:
    data = json.load(file)
    employees = []
    for employee in data["employees"]:
        name = employee["name"]
        dob = employee["DOB"]
        height = employee["height"]
        city = employee["city"]
        state = employee["state"]
        employees.append(Employee(name, dob, height, city, state))

for employee in employees:
    print(employee.__dict__)

FileNotFoundError: ignored

Create a dictionary of any 7 Indian states and their capitals. Write this into a JSON file.

In [15]:
import json

indian_states = {
    "Andhra Pradesh": "Amaravati",
    "Arunachal Pradesh": "Itanagar",
    "Assam": "Dispur",
    "Bihar": "Patna",
    "Chhattisgarh": "Raipur",
    "Goa": "Panaji",
    "Gujarat": "Gandhinagar"
}

with open("indian_states.json", "w") as file:
    json.dump(indian_states, file)

In [16]:
{
    "Andhra Pradesh": "Amaravati",
    "Arunachal Pradesh": "Itanagar",
    "Assam": "Dispur",
    "Bihar": "Patna",
    "Chhattisgarh": "Raipur",
    "Goa": "Panaji",
    "Gujarat": "Gandhinagar"
}

{'Andhra Pradesh': 'Amaravati',
 'Arunachal Pradesh': 'Itanagar',
 'Assam': 'Dispur',
 'Bihar': 'Patna',
 'Chhattisgarh': 'Raipur',
 'Goa': 'Panaji',
 'Gujarat': 'Gandhinagar'}

ðŸ‘‰ 1. Create a class named â€˜Dogâ€™. It should have a constructor which accepts its name, age and coat color. You must perform the following operations:

ðŸ”´ a. It should have a function â€˜description()â€™ which prints the name and age of the dog.
ðŸ”´ b. It should have a function â€˜get_info()â€™ which prints the coat color of the dog.
ðŸ”´ c. Create child classes â€˜JackRussellTerrierâ€™ and â€˜Bulldogâ€™ which is inherited from the class â€˜Dogâ€™. It should have at least two methods of its own.
ðŸ”´ d. Create objects and implement the above functionalities.

In [17]:
class Dog:
    def __init__(self, name, age, coat_color):
        self.name = name
        self.age = age
        self.coat_color = coat_color

dog1 = Dog("Fido", 3, "brown")
dog2 = Dog("Buddy", 5, "black")

print(dog1.name) # Output: Fido
print(dog2.age) # Output: 5
print(dog1.coat_color) # Output: brown

Fido
5
brown

In [18]:
class Dog:
    def __init__(self, name, age, coat_color):
        self.name = name
        self.age = age
        self.coat_color = coat_color

    def description(self):
        print(f"{self.name} is {self.age} years old.")

    def get_info(self):
        print(f"Coat color: {self.coat_color}")

class JackRussellTerrier(Dog):
    def __init__(self, name, age, coat_color):
        super().__init__(name, age, coat_color)

    def bark(self):
        print("Woof woof!")

    def energy_level(self):
        print("High energy level")

class Bulldog(Dog):
    def __init__(self, name, age, coat_color):
        super().__init__(name, age, coat_color)

    def bark(self):
        print("Grrrrrr!")

    def lazy(self):
        print("Lazy")

dog1 = Dog("Fido", 3, "brown")
dog1.description() # Output: Fido is 3 years old.
dog1.get_info() # Output: Coat color: brown

dog2 = JackRussellTerrier("Buddy", 5, "black")
dog2.description() # Output: Buddy is 5 years old.
dog2.get_info() # Output: Coat color: black
dog2.bark() # Output: Woof woof!
dog2.energy_level() # Output: High energy level

dog3 = Bulldog("Max", 7, "white")
dog3.description() # Output: Max is 7 years old.
dog3.get_info() # Output: Coat color: white
dog3.bark() # Output: Grrrrrr!
dog3.lazy() # Output: Lazy

Fido is 3 years old.
Coat color: brown
Buddy is 5 years old.
Coat color: black
Woof woof!
High energy level
Max is 7 years old.
Coat color: white
Grrrrrr!
Lazy